@import url('https://fonts.googleapis.com/css2?family=Scheherazade+New:wght@400;700&display=swap');

.font-arabic {
  font-family: 'Scheherazade New', serif;
  font-size: 1.75rem; /* larger for readability */
  line-height: 2.5rem;
}


@tailwind base;
@tailwind components;
@tailwind utilities;

/* Optional Arabic font */
@import url('https://fonts.googleapis.com/css2?family=Amiri&display=swap');

.font-arabic {
  font-family: 'Amiri', serif;
}
